name: Build and deploy ASP.Net Core app to Azure Web App - carrental-mvc-YijiaWang

on:
  push:
    branches:
      - main
    paths:
      - "CarRentalPlatform/**"
      - ".github/workflows/main_carrental-mvc-yijiawang.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build CarRentalPlatform/CarRentalPlatform.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish CarRentalPlatform/CarRentalPlatform.csproj -c Release -o ./publish

      - name: Zip release
        run: |
          cd publish
          zip -r ../app.zip .

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F1D3A5B7ABA24FB7B1CBE03CDFAE5354 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_972A6CF53E4A4D7F863B3D23B00B33C4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DCE1F8FF96FB4A8CB834A3C519B2EA1B }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'carrental-mvc-YijiaWang'
          slot-name: 'Production'
          package: app.zip
